#DetailsButton {
	float : left;
	width : 25%;
	background-color : skyblue;
	height : 100%;
}
.DetailsButtonStyle {
	display : inline;
	padding-top : 2%;
	padding-bottom : 2%;
	margin-bottom : 2%;
	margin-bottom : 2%;
}
#HeaderSection {
	
	color : blue;

}
#ContentDisplayer {
	width : 60%;
    float : left;
	background-color : grey;
	height : 100%;
}